<section class="section">
    <div class="container">
        <table class="table is-bordered is-fullwidth">
            <thead>
                <tr>
                    <th>Entrada</th>
                    <th>Pipe</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ nombre }}</td>
                    <th>uppercase</th>
                    <td>{{ nombre | uppercase }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <th>lowercase</th>
                    <td>{{ nombre | lowercase }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <th>slice:3</th>
                    <td>{{ nombre | slice:3 }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <th>slice:0:3</th>
                    <td>{{ nombre | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <th>number:'1.0-5'</th>
                    <td>{{ PI | number:'1.0-5' }}</td>
                </tr>
                <tr>
                    <td>{{ texto }}</td>
                    <th>capitalizado</th>
                    <td>{{ texto | capitalizado }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>